



#client{
    margin-top: 20%;
}

#papa{
    float: left;   
}

#boton1{
    display:inline;
    border:0;
    padding:0;
    margin:0;
    
    background:none;
    color:#352e2e;
    font-family: arial, sans-serif;
    font-size: 1em;
    line-height:1em;
    margin: 3px;
padding-top: 10px;
font-weight: 700;
}

#boton1:hover {
    text-decoration:none;
    color:#000000;
    cursor:pointer;
  }

#boton2{
    
}